<div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Заголовок сайта во вкладке</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="title" placeholder="Заголовок сайта во вкладке">
    </div>
</div>
<div class="form-group row">
    <label for="eventName" class="col-sm-2 col-form-label">Тип мероприятия</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="eventName" placeholder="Тип мероприятия">
    </div>
</div>
<div class="form-group row">
    <label for="eventDate" class="col-sm-2 col-form-label">Дата мероприятия</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="eventDate" placeholder="Дата мероприятия">
    </div>
</div>
<div class="form-group row">
    <label for="eventTime" class="col-sm-2 col-form-label">Время мероприятия</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="eventTime" placeholder="Время мероприятия">
    </div>
</div>
<div class="form-group row">
    <label for="eventMainTitle" class="col-sm-2 col-form-label">Наименование мероприятия</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="eventMainTitle" placeholder="Наименование мероприятия">
    </div>
</div>
<div class="form-group row">
    <label for="locationName" class="col-sm-2 col-form-label">Наименование места проведения мероприяти</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="locationName" placeholder="Наименование места проведения мероприяти">
    </div>
</div>
<div class="form-group row">
    <label for="locationAddress" class="col-sm-2 col-form-label">Адрес проведения мероприятия</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="locationAddress" placeholder="Адрес проведения мероприятия">
    </div>
</div>
<div class="form-group row">
    <label for="eventSmallTitle" class="col-sm-2 col-form-label">Краткое описание мероприятия</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="eventSmallTitle" placeholder="Краткое описание мероприятия">
    </div>
</div>
<div class="form-group row">
    <label for="inviteMessage" class="col-sm-2 col-form-label">Текст приглашения</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="inviteMessage" placeholder="Текст приглашения">
    </div>
</div>
<div class="form-group row">
    <label for="eventOwnersTitle" class="col-sm-2 col-form-label">Заголовок раздела владельцев мероприятия</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="eventOwnersTitle" placeholder="Заголовок раздела владельцев мероприятия">
    </div>
</div>
<div class="form-group row">
    <label for="imagesTitle" class="col-sm-2 col-form-label">Заголовок раздела картинок</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="imagesTitle" placeholder="Заголовок раздела картинок">
    </div>
</div>
<div class="form-group row">
    <label for="groom" class="col-sm-2 col-form-label">Жених</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="groom" placeholder="Жених">
    </div>
</div>
<div class="form-group row">
    <label for="bride" class="col-sm-2 col-form-label">Невеста</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="bride" placeholder="Невеста">
    </div>
</div>
